extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p methodOS is an Agile project management tool that helps you summon the right machinery and people at the construction site exactly when they are needed. You can request for a specific machinery and the app will let you know when it is available. By the way, OS stands for Organisation System.

        a.btn.btn-info-index.btn-lg.m-t-1(href='/register') Create an account
