extends layout

block content
  .main.container.text-xs-center
    h1.display-3 methodOS
    p.lead Makes your construction project a little more organised.
    a.btn.btn-info-index.btn-lg(href='/register') Create an account
